# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

/coverage
/.next/
/out/
/build

.DS_Store
*.pem
*.db
*.db-journal

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env
.env.local
.env.*.local

.vercel
*.tsbuildinfo

/src/generated/

.vercel
